<!-- Image and text -->
<nav
  class="navigation bg-gray-300 w-full h-auto fixed z-50 flex p-2 justify-between"
>
  <div class="absolute header-container gap-2">
    <a class="navbar-brand brand-img" href="#">
      <img
        src="https://img.icons8.com/cute-clipart/30/null/apple-weather.png"
      />
    </a>
    <p>Weather App</p>
  </div>
  <div class="header-links">
    <div>
      <a href="">Weather</a>
    </div>
    <div>
      <a href="">Visuals</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
